* {
    background-color: rgb(42, 49, 59);
    /* background-image: url(pi); */
}


/* #63c0f5 */


/* #63c0f5 */


/* #a0a0a0 */


/* font-family: Roboto Mono, monospace; */


/* font-family: 'Fredoka One', cursive; */

* {
    /* max-width: ; */
    color: antiquewhite;
}

body {
    /* border: solid 3px orange; */
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.4fr 0.9fr 1fr;
    grid-template-rows: 0.3fr 1.3fr 1.8fr 0.6fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header header header" "sider content content content" "sider content content content" "footer footer footer footer";
    width: 97.7%;
    height: 90.5%;
}

.header {
    grid-area: header;
    border-bottom: #b5e853 2px dashed;
    font-family: Roboto Mono, monospace;
    font-size: 32px;
    padding: 10px;
}

.raise {
    text-align: center;
    --color: #63c0f5;
    --hover: #e5ff60;
    background-color: rgb(42, 49, 59);
    border: 2px solid;
    font: inherit;
    line-height: 0.5em;
    margin: 0.5em;
    padding: 1em 2em;
    transition: 0.25s;
    line-height: 1;
}

button {
    color: var(--color);
    transition: 0.25s;
    border-radius: 30px;
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    color: var(--hover);
    font-style: italic;
}

#iiyearece {
    text-align: center;
    color: #b5e853;
    font-weight: bolder;
}

#implink {
    text-align: left;
    margin-top: 20px;
    color: #63c0f5;
}

.sider {
    margin-top: 20px;
    grid-area: sider;
    color: #63c0f5;
    border-right: #b5e853 dashed 2px;
    font-family: Roboto Mono, monospace;
    font-size: 32px;
    text-align: center;
}

.allnotes {
    color: #b5e853;
    margin-top: 20px;
    padding: 5px;
}

a:hover {
    color: #63c0f5;
    font-style: italic;
}

.content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "one two three" "four five six" "seven eight nine" "ten eleven twelve";
    grid-area: content;
}

.one {
    grid-area: one;
    size: 100%;
    align-items: center;
    text-align: center;
    font-size: 25px;
    display: block;
    width: 100%;
}

.two {
    grid-area: two;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 25px;
}

.three {
    grid-area: three;
    text-align: center;
    font-size: 25px;
    display: block;
    width: 100%;
}

.four {
    grid-area: four;
    text-align: center;
    font-size: 25px;
    display: block;
    width: 100%;
}

.five {
    grid-area: five;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 25px;
}

.six {
    grid-area: six;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 25px;
}

.seven {
    grid-area: seven;
    text-align: center;
    font-size: 25px;
    display: block;
    width: 100%;
}

.eight {
    grid-area: eight;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 25px;
}

.nine {
    grid-area: nine;
    text-align: center;
    font-size: 25px;
    display: block;
    width: 100%;
}

.ten {
    grid-area: ten;
    text-align: center;
    font-size: 25px;
    font-size: 25px;
    display: block;
    width: 100%;
}

.eleven {
    display: block;
    width: 100%;
    grid-area: eleven;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.twelve {
    grid-area: twelve;
    text-align: center;
    font-size: 25px;
    display: block;
    width: 100%;
}

.footer {
    grid-area: footer;
    border-top: #b5e853 2px dashed;
    font-family: Roboto Mono, monospace;
    font-size: 32px;
    text-align: center;
}

strong {
    color: #63c0f5;
}

.motivation {
    font-size: 22px;
}
