* {
    background-color: rgb(0, 0, 0);
    /* background-image: url(pi); */
}


/* #63c0f5 */


/* #63c0f5 */


/* #a0a0a0 */


/* font-family: Roboto Mono, monospace; */


/* font-family: 'Fredoka One', cursive; */

* {
    /* max-width: ; */
    color: antiquewhite;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.4fr 0.9fr 1fr;
    grid-template-rows: 0.3fr 1.3fr 1.8fr 0.6fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header header header" "content content content content" "content content content content" "footer footer footer footer";
    width: 97.7%;
    height: 90.5%;
}

.header {
    grid-area: header;
    border-bottom: #b5e853 4px dashed;
    font-family: Roboto Mono, monospace;
    font-size: 22px;
    padding: 10px;
}

.raise {
    text-align: center;
    --color: #06ecfc;
    --hover: #e5ff60;
    background-color: rgb(0, 0, 0);
    border: 2px solid;
    font: inherit;
    line-height: 0.5em;
    margin: 0.5em;
    padding: 1em 2em;
    transition: 0.25s;
    line-height: 1;
}

button {
    color: var(--color);
    transition: 0.25s;
    border-radius: 30px;
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    color: var(--hover);
    font-style: italic;
}

#iiyearece {
    text-align: center;
    color: #b5e853;
    font-weight: bolder;
}

.content {
    margin-top: 20px;
    grid-area: content;
    box-sizing: border-box;
}

.one {
    size: 100%;
    align-items: center;
    text-align: center;
    font-size: 25px;
    display: block;
    float: left;
}

.two {
    text-align: center;
    display: block;
    font-size: 25px;
    float: left;
}

.three {
    text-align: center;
    font-size: 25px;
    display: block;
    float: left;
}

.four {
    text-align: center;
    font-size: 25px;
    display: block;
    float: left;
}

.five {
    text-align: center;
    display: block;
    font-size: 25px;
    float: left;
}

.six {
    text-align: center;
    display: block;
    font-size: 25px;
    float: left;
}

.seven {
    text-align: center;
    font-size: 25px;
    display: block;
    float: left;
}

.eight {
    text-align: center;
    display: block;
    font-size: 25px;
    float: left;
}

.nine {
    text-align: center;
    font-size: 25px;
    display: block;
    float: left;
}

.ten {
    text-align: center;
    font-size: 25px;
    font-size: 25px;
    float: left;
}

.eleven {
    display: block;
    text-align: center;
    font-size: 25px;
    float: left;
}

.twelve {
    text-align: center;
    font-size: 25px;
    display: block;
    float: left;
}

.footer {
    grid-area: footer;
    border-top: #b5e853 2px dashed;
    font-family: Roboto Mono, monospace;
    font-size: 20px;
    text-align: center;
}

strong {
    color: #28b9fc;
}

.motivation {
    font-size: 22px;
}
