   * {
       font-size: 10px;
   }
   
   body {
       color: whitesmoke;
       background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='800' height='700' preserveAspectRatio='none' viewBox='0 0 800 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='800' height='700' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c285.873C55.689%2c282.623%2c107.89%2c269.252%2c159.617%2c248.368C222.031%2c223.169%2c304.628%2c213.113%2c332.245%2c151.731C359.882%2c90.306%2c295.682%2c25.412%2c290.132%2c-41.715C284.051%2c-115.274%2c348.523%2c-204.389%2c298.329%2c-258.504C247.537%2c-313.263%2c150.918%2c-248.886%2c79.064%2c-269.268C8.299%2c-289.342%2c-39.126%2c-394.324%2c-109.906%2c-374.305C-180.435%2c-354.357%2c-182.796%2c-252.074%2c-214.823%2c-186.146C-238.3%2c-137.818%2c-261.312%2c-91.717%2c-272.694%2c-39.207C-284.865%2c16.943%2c-301.106%2c74.741%2c-283.205%2c129.335C-264.39%2c186.718%2c-224.908%2c238.508%2c-172.055%2c267.722C-120.539%2c296.197%2c-58.762%2c289.302%2c0%2c285.873' fill='%230b2239'%3e%3c/path%3e%3cpath d='M800 989.601C871.383 1001.097 944.042 1056.75 1009.403 1025.837 1074.01 995.281 1099.174 912.66 1111.521 842.267 1122.426 780.094 1092.057 721.001 1073.449 660.684 1057.7440000000001 609.778 1042.2 560.323 1011.177 517.014 977.657 470.219 942.593 418.649 887.689 401.36 832.499 383.981 776.217 414.785 719.282 425.1 654.479 436.84 581.208 424.591 530.111 466.14 476.812 509.48 455.039 581.009 444.133 648.8340000000001 433.107 717.406 432.934 791.686 468.139 851.556 502.18 909.447 567.871 938.922 629.8779999999999 964.7149999999999 683.888 987.182 742.248 980.3 800 989.601' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='800' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
       background-size: cover;
       background-repeat: repeat-y;
   }
   
   .navbar1 {
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       /* border: 2px solid rgba(138, 179, 255, 0.226); */
       background-color: rgba(252, 254, 255, 0.062);
       padding: 10px;
   }
   
   .navbar1:hover {
       box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.534);
   }
   
   .youtube {
       display: inline-block;
       margin-left: 5px;
       float: right;
   }
   
   .youtube a {
       display: inline-block;
       border: 1px solid white;
       border-radius: 10px;
       padding: 13px;
       font-size: 2.6rem;
       font-weight: 700;
       font-family: monospace;
       text-align: center;
       align-items: center;
       margin-left: 5px;
       text-decoration: none;
       color: whitesmoke;
   }
   
   .youtube a:hover {
       background-color: rgba(250, 67, 67, 0.932);
       color: black;
   }
   
   .revanotes {
       display: inline-block;
       margin-left: 5px;
       float: right;
   }
   
   .revanotes a {
       display: inline-block;
       border: 1px solid white;
       border-radius: 10px;
       padding: 13px;
       font-size: 2.6rem;
       font-weight: 700;
       font-family: monospace;
       text-align: center;
       align-items: center;
       text-decoration: none;
       color: whitesmoke;
   }
   
   .revanotes a:hover {
       background-color: rgba(255, 255, 255, 0.932);
       color: black;
   }
   
   .content {
       display: block;
       position: absolute;
       top: 140px;
       overflow: none;
       text-align: center;
       width: 80%;
       padding: 13px;
       margin-left: 10%;
       margin-right: auto;
   }
   
   .welcomenote {
       text-align: center;
       font-family: 'Concert One', cursive;
       padding: 13px;
       font-size: 6.4rem;
   }
   
   .ece {
       color: orange;
       font-size: 6.4rem;
   }
   
   .searchnotes {
       font-family: 'Concert One', cursive;
       margin-top: 60px;
       font-size: 3.8rem;
       display: inline-flex;
   }
   
   .searchnotes2 {
       font-family: 'Concert One', cursive;
       margin-top: 20px;
       font-size: 3.8rem;
       display: inline-block;
   }
   
   .dropdown {
       color: whitesmoke;
       border: 2px solid white;
       border-radius: 10px;
       padding: 11px 60px;
       justify-content: center;
       margin-top: 60px;
       margin-left: 40px;
       display: inline-flex;
   }
   
   .dropdown:hover {
       color: rgb(42, 41, 49);
       background-color: rgb(255, 255, 255);
   }
   
   .dropdown-menu {
       display: none;
   }
   
   .dropbtn {
       background-color: #ffffff00;
       color: white;
       font-size: 2.3rem;
       border: none;
   }
   
   .dropdown {
       position: relative;
       display: inline-block;
   }
   
   .dropdown-content {
       display: none;
       font-family: 'Concert One', cursive;
       font-size: 1.8rem;
       position: absolute;
       background-color: #ffffff;
       min-width: 150px;
       margin-top: 13px;
       box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
       z-index: 1;
   }
   
   .dropdown-content a {
       color: black;
       padding: 12px 16px;
       font-size: 1.8rem;
       text-decoration: none;
       display: block;
   }
   
   .dropdown-content a:hover {
       background-color: #ddd;
   }
   
   .dropdown:hover .dropdown-content {
       display: block;
   }
   
   .dropdown:hover .dropbtn {
       background-color: #ffffff;
       color: black;
   }
   
   footer {
       position: fixed;
       bottom: 0;
       left: 0;
       right: 0;
       margin-top: 50px;
       text-align: center;
       font-size: 1.6rem;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       background-color: rgba(252, 254, 255, 0.062);
   }
   
   footer:hover {
       box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.534);
   }
   
   .smallhelp {
       font-family: 'Inconsolata', monospace;
       font-size: 2.2rem;
   }
   
   .copyright {
       font-size: 2.2rem;
   }
   
   @media screen and (max-width: 1200px) {
       body {
           background-size: 1920px 1080px;
       }
   }
   
   @media screen and (max-width: 1050px) {
       * {
           font-size: 9px;
       }
       header img {
           height: 41px;
           width: 201px;
       }
       .content {
           margin-left: 5%;
       }
       footer {
           margin-top: 50px;
           font-size: 16px;
       }
   }
   
   @media screen and (max-width: 711px) {
       .revanotes a {
           display: none;
       }
   }
   
   @media screen and (max-width: 673px) {
       .revanotes a {
           display: none;
       }
       .youtube a {
           font-size: 2rem;
       }
       .searchnotes {
           margin-top: 10px;
       }
       .content {
           top: 80px
       }
       .welcomenote,
       .ece {
           font-size: 4.8rem;
       }
   }
   
   @media screen and (max-width: 657px) {
       .dropdown {
           margin-top: 20px;
           margin-left: 31px;
       }
   }
   
   @media screen and (max-width: 573px) {
       .revanotes a {
           display: none;
       }
       .dropdown {
           margin-top: 5px;
           margin-left: 0px;
       }
       .searchnotes,
       .searchnotes2 {
           font-size: 2.8rem;
       }
       .searchnotes {
           margin-top: 10px;
       }
       .content {
           top: 80px
       }
       .welcomenote,
       .ece {
           font-size: 4rem;
       }
   }
   
   @media only screen and (max-width:330px) {
       .youtube a {
           font-size: 1.4rem;
       }
   }