.content {
    width: 90%;
    margin: auto;
    color: rgb(202, 202, 202);
    overflow: hidden;
}

a {
    color: rgb(202, 202, 202);
    text-decoration: none;
    font-style: bold;
}

.box {
    font-style: bold;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    font-family: monospace;
    font-size: 22px;
    width: 40%;
    height: 80px;
    margin: 6px;
    background-size: 90px;
}

.box:hover {
    background-color: #63c0f5;
    color: black;
    /* opacity: 85%; */
    box-shadow: 4px 4px rgb(109, 109, 109);
    /* border: .9px grey dashed; */
}

.active4 {
    background-color: rgb(139, 243, 157);
    color: black;
}

.box span {
    margin-left: 9px;
}

.box1 {
    font-style: bold;
    margin-top: 90px;
    width: 40%;
    float: left;
    margin-left: 40px;
    background-color: rgb(37, 126, 118);
    background-image: url(calculator.png);
    background-repeat: no-repeat;
    background-position: right 1vw center;
}

.box2 {
    margin-top: 90px;
    width: 40%;
    float: right;
    margin-right: 40px;
    background-color: rgb(62, 117, 129);
    background-image: url(radio-waves.png);
    background-repeat: no-repeat;
    background-position: right 1vw center;
}

.box3 {
    width: 40%;
    float: left;
    margin-left: 40px;
    background-color: rgb(114, 54, 52);
    background-image: url(magnetic-fields.png);
    background-repeat: no-repeat;
    background-position: right 1vw center;
}

.box4 {
    width: 40%;
    float: right;
    margin-right: 40px;
    background-color: rgb(83, 54, 114);
    background-image: url(microcontroller.png);
    background-repeat: no-repeat;
    background-position: right 1vw center;
}

.box5 {
    width: 40%;
    float: left;
    margin-left: 40px;
    background-color: rgb(43, 75, 116);
    background-image: url(control-panel.png);
    background-repeat: no-repeat;
    background-position: right 1vw center;
}

.box6 {
    width: 40%;
    float: right;
    margin-right: 40px;
    background-color: rgb(124, 98, 42);
    background-image: url(computer.png);
    background-repeat: no-repeat;
    background-position: right 1vw center;
}

.box7 {
    width: 40%;
    float: left;
    margin-left: 40px;
    background-color: rgb(52, 122, 116);
    background-image: url(fuse-box.png);
    background-repeat: no-repeat;
    background-position: right 1vw center;
}

.box8 {
    width: 40%;
    float: right;
    margin-right: 40px;
    background-color: rgb(119, 63, 61);
    background-image: url(dices.png);
    background-repeat: no-repeat;
    background-position: right 1vw center;
}

.box9 {
    width: 40%;
    float: left;
    margin-left: 40px;
    background-color: rgb(60, 103, 112);
    background-image: url(ssd.png);
    background-repeat: no-repeat;
    background-position: right 1vw center;
}

.lab1 {
    float: right;
    margin-right: 40px;
    background-color: rgb(57, 89, 131);
    background-image: url(radio-waves\ \(1\).png);
    background-repeat: no-repeat;
    background-position: right 1vw center;
}

.lab2 {
    float: left;
    margin-left: 40px;
    margin-bottom: 30px;
    background-color: rgb(128, 103, 49);
    background-image: url(microchip.png);
    background-repeat: no-repeat;
    background-position: right 1vw center;
}

.lab3 {
    float: right;
    margin-right: 40px;
    margin-bottom: 30px;
    background-color: rgb(84, 56, 114);
    background-image: url(open-book.png);
    background-repeat: no-repeat;
    background-position: right 1vw center;
}


/* .box:hover {
    background-color: rgb(139, 243, 157);
    color: #1f282d;
} */

@media screen and (max-width: 895px) {
    .box {
        background-size: 80px;
        font-size: 20px;
    }
}

@media screen and (max-width: 737px) {
    .box {
        background-size: 75px;
        font-size: 22px;
        float: none;
        width: 80%;
        margin-left: 10%;
    }
    .box2 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 580px) {
    .box {
        background-size: 60px;
    }
    .box1 {
        margin-top: 110px;
    }
}

@media screen and (max-width: 360px) {
    .box {
        font-size: 18px;
    }
    .box1 {
        margin-top: 160px;
    }
}
